<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRUD-BOOT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h2>Book List</h2>
    <table>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.name}">Book Name</td>
        </tr>
    </table>
</div>
<h2>Create Book</h2>
<form action="#" th:action="@{/book}" th:object="${book}" method="post">
    <p>Book Name: <label>
        <input type="text" th:field="*{name}" />
    </label>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>